<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Website</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <a href="/">Home</a>
   | 
  <a href="/compHistorys">Company History</a>
   |
  <a href="/pastWorks">Past Work</a> 
   |
  <a href="/staffs">Staff</a> 
   |
  <a href="/contacts">Contact Us</a>
   |
  <a href="/links">Links</a> 

  <h1><%= title %></h1>