<%- include('./partials/header') %>

<h5>Apple Inc. was founded on April 1, 1976, by Steve Jobs, Steve Wozniak, and Ronald Wayne. Initially starting in a garage, Apple's vision was to create user-friendly personal computers. They introduced the Apple I in 1976, followed by the successful Apple II in 1977. However, internal conflicts and leadership changes affected the company's performance. In 1997, Steve Jobs returned as CEO, initiating a turnaround. Under his leadership, Apple focused on innovation and design, releasing groundbreaking products like the iPod in 2001, the iPhone in 2007, and the iPad in 2010. Today, Apple continues to be a leader in the technology industry, known for its integration of hardware, software, and services, as well as its commitment to sustainability and environmental responsibility.</h5>

<%- include('./partials/footer') %>